apiVersion: batch/v1beta1
kind: CronJob

metadata:
    name: {{ .Release.Name }}-crl-rotation

spec:
    concurrencyPolicy: Replace
    failedJobsHistoryLimit: 1
    successfulJobsHistoryLimit: 1
    schedule: 0 2 * * * # once a day at 2am
    jobTemplate:
        spec:
            backoffLimit: 10
            activeDeadlineSeconds: 60
            template:
                restartPolicy: OnFailure
                serviceAccountName: {{ .Values.cron.serviceAccountName }}
                containers:
                -   name: script
                    image: {{ .Values.cron.image.name }}:{{ .Values.cron.image.tag }}
                    imagePullPolicy: {{ .Values.cron.pullPolicy }}
                    env:
                    -   name: VAULT_ADDR
                        value: https://{{ .Values.vault.host }}:{{ .Values.vault.port }}
                    -   name: VAULT_ROLE
                        value: {{ required "cron role for Vault is required" .Values.roles.cron }}
                    -   name: VAULT_PKI_PATH
                        value: {{ .Values.vault.paths.pki }}
